@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  background: #FF5722;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 10vw;
  color: #424242;
  padding-left: 170px;
  margin: 0;
  height: 1em;
}

.css-script-ads {
  padding-left: 170px;
  margin: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 170px;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu * {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#menuTrigger:checked ~ .menu { pointer-events: auto; }

#menuTrigger:checked ~ .menu h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#menuTrigger:checked ~ .menu .link {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#menuTrigger:checked ~ .menu .link:nth-child(1) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(2) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(3) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(4) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(5) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(6) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(7) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#menuTrigger:checked ~ .menu .link:nth-child(8) {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 56px;
  text-transform: capitalize;
  color: Black;
  -webkit-transform: translate3d(-170px, 0, 0);
  transform: translate3d(-170px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.menu .links {
  position: relative;
  z-index: 1;
  list-style: none;
  color: white;
  margin: 76px 0 0 0;
  padding: 0;
}

.menu .link {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.menu .link:nth-child(1) {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.menu .link:nth-child(2) {
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}

.menu .link:nth-child(3) {
  -webkit-transform: translate3d(-300%, 0, 0);
  transform: translate3d(-300%, 0, 0);
}

.menu .link:nth-child(4) {
  -webkit-transform: translate3d(-400%, 0, 0);
  transform: translate3d(-400%, 0, 0);
}

.menu .link:nth-child(5) {
  -webkit-transform: translate3d(-500%, 0, 0);
  transform: translate3d(-500%, 0, 0);
}

.menu .link:nth-child(6) {
  -webkit-transform: translate3d(-600%, 0, 0);
  transform: translate3d(-600%, 0, 0);
}

.menu .link:nth-child(7) {
  -webkit-transform: translate3d(-700%, 0, 0);
  transform: translate3d(-700%, 0, 0);
}

.menu .link:nth-child(8) {
  -webkit-transform: translate3d(-800%, 0, 0);
  transform: translate3d(-800%, 0, 0);
}

.menu .link a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.menu .link a:hover { background-color: rgba(255, 255, 255, 0.1); }

.menu .trigger {
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 0px;
  height: 56px;
  width: 56px;
  border-radius: 100%;
  cursor: pointer;
  pointer-events: auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 0 0px #424242;
}

.menu .trigger:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: box-shadow 0.2s 0.4s ease-in-out;
  transition: box-shadow 0.2s 0.4s ease-in-out;
  box-shadow: 0 0 0 28px #424242 inset, 0 0 0 28px #FF5722 inset;
}

#menuTrigger:checked ~ .menu .trigger {
  -webkit-transform: translate3d(94px, 0, 0);
  transform: translate3d(104px, 0, 0);
  box-shadow: 0 0 0 370px #9ec6e3; 
}

#menuTrigger:checked ~ .menu .trigger:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  box-shadow: 0 0 0 0 #424242 inset, 0 0 0 28px #FF5722 inset;
}

#menuTrigger:checked ~ .menu .trigger .line:nth-child(1) {
  -webkit-transform: translateY(0) translate3d(-50%, -50%, 0);
  transform: translateY(0) translate3d(-50%, -50%, 0);
}

#menuTrigger:checked ~ .menu .trigger .line:nth-child(3) {
  -webkit-transform: translateY(0) translate3d(-50%, -50%, 0);
  transform: translateY(0) translate3d(-50%, -50%, 0);
}

.menu .trigger .line {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  height: 2px;
  width: 18.66667px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

.menu .trigger .line:nth-child(1) {
  -webkit-transform: translateY(-5px) translate3d(-50%, -50%, 0);
  transform: translateY(-5px) translate3d(-50%, -50%, 0);
}

.menu .trigger .line:nth-child(3) {
  -webkit-transform: translateY(5px) translate3d(-50%, -50%, 0);
  transform: translateY(5px) translate3d(-50%, -50%, 0);
}

#menuTrigger {
  position: fixed;
  top: 0;
  left: -20px;
}

.edit_layout{
    width: 100%;
    position: absolute;
    top: 0;
    margin:0;
}
#right_content{
    margin: 10px 10px 10px 173px; 
}
.big-font{
  font-size: 16px;
}
/* radiobutton */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);}
#edit-padding{
  padding-left:35px;
}
.mg-submit{
  margin-top:20px;
  margin-bottom: 80px;
}



