body{
/* background-color:#ccd6da; */
font-family:Arial, Helvetica, sans-serif;
padding:0;margin:0;
font-size:16px;
color:#000;
}
.clear{clear:both;}
a{color:#366082;; text-decoration:none;}
a#closebt{ position:absolute; top:130px; left:208px; outline:none; z-index:999;}
a#openbt{ position:absolute; top:130px; left:0px; outline:none; display:none;z-index:999;}
a.button{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;font-family:arial;font-size:12px;font-weight: bold;padding:8px 12px 8px 12px;text-align: center;cursor:pointer; margin:10px 10px 0 0; float:left;}
.red{color:#fff;background: #eb8484;text-shadow:1px 1px #cc5959;}
.green{color:#fff;background: #7dc44e;text-shadow:1px 1px #4c9021;}
.red:hover{ background-color:#d96060;}
.green:hover{ background-color:#69b736;}

#panelwrap{ margin:20px auto; background-color:#FFFFFF;
    -moz-border-radius:10px;-webkit-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
    /* border:6px #c0cdd2 solid; height: 93vh;} */
}
#panelwrap::after{
    content: '';
    clear: both;
}
#loginpanelwrap{width:500px;
    padding: 50px 0;
    margin:120px auto auto auto; background-color:#FFFFFF;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px; border-radius:10px;border:6px #c0cdd2 solid;}



/*-------------------------------------form-------------------------------------*/
.form{padding:20px;}
.form_row{width:610px;float:left;clear:both;margin:0 0 10px 0;height: 65px;}

#form_row{
    margin: 20px 188px;
}
 
.form_row label{ margin-left: 4px;width:100px;float:left;padding:5px 0 0px 0;font-size:12px; color:#535E66; font-weight:bold; text-shadow:1px 1px #fff; text-align:left;}
.form_input{width:500px;height:34px;padding:0px 0px 0 4px; background-color:#F4F6F7; border:1px #90A9B7 solid; color:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
select.form_select{width:506px;height:37px;float:left;padding:8px 5px 8px 4px; background-color:#F4F6F7; border:1px #90A9B7 solid; color:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.form_textarea{width:500px;height:65px;float:left;padding:3px 0px 0 4px; background-color:#F4F6F7; border:1px #90A9B7 solid; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
input.form_submit{
 
    color: #5a5abc;
    background: #edcd66;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: arial;
    font-size: 15px;
    padding: 17px 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    text-shadow: 1px 1px #4c9021;
}

.loginform{padding:20px;}
.loginform_row{width:460px;float:left;clear:both;margin:0 0 10px 0;}
.loginform_row label{width:100px;float:left;padding:5px 0 0px 0;font-size:12px; color:#535E66; font-weight:bold; text-shadow:1px 1px #fff; text-align:left;}
.loginform_input{width:350px;height:45px;padding:4px 4px 4px 15px; background-color:rgb(250, 255, 189); border:1px #90A9B7 solid; color:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
input.loginform_submit{background: #228ccd;
    color: #fff;
    font-size: 20px;}


